@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 54% 97%;
    --foreground: 213 43% 14%;

    --card: 0 0% 100%;
    --card-foreground: 213 43% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 213 43% 14%;

    --primary: 168 79% 27%;
    --primary-foreground: 0 0% 100%;
    --primary-soft: 162 43% 94%;
    --primary-dark: 170 82% 20%;

    --secondary: 210 40% 98%;
    --secondary-foreground: 213 43% 14%;

    --muted: 215 25% 92%;
    --muted-foreground: 214 14% 47%;

    --accent: 39 87% 60%;
    --accent-foreground: 213 43% 14%;

    --destructive: 5 76% 40%;
    --destructive-foreground: 0 0% 100%;
    --destructive-soft: 4 100% 97%;

    --success: 157 89% 27%;
    --success-soft: 150 50% 95%;

    --warning: 42 100% 50%;
    --warning-soft: 47 100% 94%;

    --info-soft: 213 100% 97%;

    --border: 215 25% 92%;
    --input: 215 25% 87%;
    --ring: 168 79% 27%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 213 18% 39%;
    --sidebar-primary: 168 79% 27%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 162 43% 94%;
    --sidebar-accent-foreground: 170 82% 20%;
    --sidebar-border: 215 25% 92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
}
